<html xmlns="http://www.w3.org/1999/html">
<body>
<br>You are almost done!<br/>
First, let's confirm your account. Copy the verification code below and paste it on the verification page to activate
your account.<br/>

<br>Verification code: <p><b><%= info %></b> </p>(valid for 5 minutes)</br>

<br/><br/>
Have a great day,<br/>
The Platform Team

</body>
</html>