<html xmlns="http://www.w3.org/1999/html">

<body>
    Hello there,
    <br>We were told you've forgotten your password on Platform.<br />
    <br>Here is your verify code <p><b><%= info %></b></p>(valid for 5 minutes)</br>
    <br/>
    <br>If you didn't request this email, ignore and report this to us immediately at the email support@Platform.com</br>
    <br /><br />
    Have a great day,<br />
    The Platform Team

</body>

</html>